<div class="row">
    <div class="btn-group d-flex justify-content-between" role="group"
        aria-label="Basic outlined example">
        <button type="button"
            class="btn btn-outline-primary">Electronics</button>
        <button type="button" class="btn btn-outline-primary">Apparels</button>
        <button type="button" class="btn btn-outline-primary">LifeStyle</button>
        <button type="button" class="btn btn-outline-primary">Pantaloon</button>
        <button type="button" class="btn btn-outline-primary">WestSide</button>
        <button type="button" class="btn btn-outline-primary">Croma
            Store</button>
        <button type="button" class="btn btn-outline-primary">Reliance
            Digital</button>
    </div>
</div>