<div class="row d-flex justify-content-between mt-4">
    <div class="col-md-3 d-grid gap-2 mb-2">
        <button type="button"
            class="btn btn-danger btn-lg"
            (click)="electronics()">
            Electronics
        </button>
    </div>
    <div class="col-md-3 d-grid gap-2 mb-2">
        <button type="button"
            class="btn btn-primary"
            (click)="apparels()">
            Apparels
        </button>
    </div>
    <div class="col-md-3 d-grid gap-2 mb-2">
        <button type="button"
            class="btn btn-info"
            (click)="lifeStyle()">
            LifeStyle
        </button>
    </div>
    <div class="col-md-3 d-grid gap-2 mb-2">
        <button type="button"
            class="btn btn-success"
            (click)="travel()">
            Travel
        </button>
    </div>
</div>

<div class="row mt-3 d-flex justify-content-evenly">
    <div class="col-md-3 p-3"
        *ngFor="let card of currentGiftCards; let i = index">
        <app-giftcard [cardDetail]="card"
            (showMore)="toggleText(i)"></app-giftcard>
    </div>
</div>