<div class="row">
    <div class="col-md-2 d-flex align-items-stretch">
        <app-sidenav></app-sidenav>
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-12">
                <app-navbar></app-navbar>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-2 p-2">
                <div class="card p-4">
                    <!-- <h5 class="card-title">Fastag Recharge</h5> -->
                    <div class="card-body">
                        <router-outlet></router-outlet>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
